@import url('https://rsms.me/inter/inter-ui.css');


body{
  font-family: 'Inter UI', sans-serif;
  background: #f9f9f9;
  margin: 0;
}
.logo{
    position: fixed;
    top: 30px;
    z-index: 3;
    left: 30px;
}
.logo img{
    border-radius: 50%;
}
main{
    background: #fff;
    min-height: 98vh;
    margin: 2vh;
    color: #2c3e50;
    padding: 0 10vw;
}
.container{
  padding: 5em 0;
  max-width: 100%;
  margin: 0 auto;
}
h1{
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
    letter-spacing: -1px;
    text-decoration: none;
    font-weight: 600;
}
h2{
    font-weight: 300;
    margin: 0;
    font-size: 14.5px;
    color: #10ac84;
}
.github {
    font-size: 2rem;
    position: fixed;
    top: 30px;
    right: 30px;
    color: #10ac84;
    z-index: 3;
}
footer{
  padding: 4vh 0;
  text-align: right;
  font-size: 12.5px;
  color: #666;
  font-weight: 300;
  margin: 2vh 0;
}
footer a{
  color: #666;
  font-weight: 600;
  text-decoration: none;
}
footer a:hover{
  border-bottom:1px solid #ddd;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}



@media(max-width:768px){
  .container h1{
   font-size: 2em;
  }
  main{
      margin: 1vh;
      padding: 0 5vw;
  }
}
